# Usuario administrador
REACT_APP_SUPERUSER=TU_SUPERUSER
REACT_APP_PASSWORD=TU_PASSWORD
REACT_APP_USERNAME=TU_NOMBRE_DE_USUARIO

# URL base del frontend
REACT_APP_URL_BASE_FRONTEND=frontend

# APIs del backend
REACT_APP_API_INMUEBLES=URL_DE_TU_API_INMUEBLES
REACT_APP_API_CATEGORIAS=URL_DE_TU_API_CATEGORIAS
REACT_APP_API_TIPOS=URL_DE_TU_API_TIPOS
REACT_APP_API_ESTADOS=URL_DE_TU_API_ESTADOS
REACT_APP_API_CARACTERISTICAS=URL_DE_TU_API_CARACTERISTICAS
REACT_APP_API_COUNTRIES=URL_DE_TU_API_COUNTRIES
